<app-my-nav></app-my-nav> 
<!-- <form [formGroup]="produsctForm" (ngSumbit)="onSumbit()"> -->
  <label>
    price: <input type ="number" formControlName="price" #price >
  </label>
  <br/>
  <label>
    desc <input formControlName="desc" #desc > 
  </label>
  <button (click)="onSumbit(+price.value,desc.value)">new product</button>
 
    <!-- <button type ="submit">Sumbit</button>
  

</form> -->


<h1>All products</h1>
<li style="color: darkblue;" *ngFor="let item of myProds">
    <button (click)="delProd(item.id)">delete - {{item.id}}</button>
    <button (click)="updProd(item.id,desc.value,+price.value)">Update - {{item.id}}</button>
    Id:{{item.id}}
    Desc {{item.desc}}
    Price {{item.price}}
</li>
<router-outlet></router-outlet>
